p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.notebox {
  padding: 0.5em;
  background: #dbe4f0;
  color: black;
  border-radius: 15px;
}

.warningbox {
  padding: 0.5em;
  background: #f6f4d5;
  color: black;
  border-radius: 15px;
}

.importantbox {
  padding: 0.5em;
  background: #ffccd1;
  color: black;
  border-radius: 15px;
}

