p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.center {
  text-align: center;
}

.notebox {
  padding: 1em;
  background: lightsteelblue;
  color: black;
}

.warningbox {
  padding: 1em;
  background: palegoldenrod;
  color: black;
}

.importantbox {
  padding: 1em;
  background: lightcoral;
  color: black
}
